<header id="masthead" class="site-header" role="banner">

  <div id="site-branding" class="site-branding">

    <div class="container">
      <div class="site-branding-text">
        <h1 class="site-title">
          <a href="https://web.sbogb.com/ogbrown-courses-demo/" rel="home">{{ getSiteTitle() }}</a>
        </h1>
        <h2 class="site-description">{{ getSiteDescription() }}</h2>
      </div>
    </div>
  </div>
  <!-- .site-branding -->

  <app-site-nav></app-site-nav>

</header>
<!-- #masthead -->
