<div class="row rowcontent mytopofpage">
  <a class="btn btn-warning btn-lg" href="http://dev.ogbrown.com/account"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Enrolled Students<br />Sign-In</a>
</div>

<div class="row rowcontent mytopofpage">
  <div class="alert alert-info">
    <h2>Work In Progress...</h2>
    This is an Angular 8 application displaying information from a RESTful Web Service built using Java and the Spring Framework.
  </div>
  <app-default-list></app-default-list>
</div>
