<nav id="site-navigation" class="main-navigation" role="navigation">

  <h1 class="menu-toggle sr-only screen-reader-text">Primary Menu</h1>
  <div class="skip-link">
    <a class="screen-reader-text sr-only" href="#content">Skip to
      content</a>
  </div>

  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>
      <!-- navbar-header -->
      <div *ngIf="topMenu.length > 0" class="navbar-collapse collapse">
        <ul id="menu-main" class="nav navbar-nav">
          <ng-container *ngFor="let menuItem of topMenu">
            <li *ngIf="menuItem.urlSlug === 'home'" id="{{ 'menu-item-' + menuItem.id}}" class="{{ 'menu-item menu-item-type-' + (menuItem.type==='page'?'post_type':menuItem.type) + ' menu-item-object-' + menuItem.type + ' menu-item-' + menuItem.urlSlug + ' menu-item-' + menuItem.id }}">
              <a  title="{{ menuItem.title }}" href="/ogbrown-courses-demo/">Home</a>
              <a *ngIf="menuItem.urlSlug !== 'home'" title="{{ menuItem.title }}" href="{{ '/ogbrown-courses-demo/' + menuItem.urlSlug }}">{{ menuItem.contentHeader }}</a>
            </li>
<!--            <app-courses-nav *ngIf="menuItem.urlSlug === 'home'"></app-courses-nav>-->
            <li *ngIf="menuItem.urlSlug !== 'home'" class="menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-contact-us">
              <a title="{{ menuItem.title }}" href="{{ '/ogbrown-courses-demo/' + menuItem.urlSlug }}/">{{ menuItem.contentHeader }}</a>
            </li>
          </ng-container>

<!--          <li class="menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-contact-us"><a title="Contact Info" href="/ogbrown-courses-demo/contact-us/">Contact Info</a>-->
<!--          </li>-->
<!--          <li class="menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-about-us"><a title="About" href="/ogbrown-courses-demo/about-us/">About</a>-->
<!--          </li>-->
<!--          <li class="menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-terms-and-privacy-policy"><a title="Terms of Use" href="/ogbrown-courses-demo/terms-and-privacy-policy/">Terms of Use</a>-->
<!--          </li>-->
<!--          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://github.com/ogbrown/ogbrown-courses-demo/"><span class="menu-item-github">GitHub Project</span></a></li>-->
        </ul>
      </div>
<!--      <div class="navbar-collapse collapse">-->
<!--        <ul id="menu-main" class="nav navbar-nav">-->
<!--          <li id="menu-item-4836" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-4836"><a title="Home" href="/ogbrown-courses-demo/">Home</a></li>-->
<!--          <li id="menu-item-1" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-91 dropdown"><a title="Courses" href="#" data-target="#" data-toggle="dropdown" class="dropdown-toggle">Courses <span class="caret"></span></a>-->
<!--            <ul role="menu" class=" dropdown-menu">-->
<!--              <li id="menu-item-92" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-92"><a title="All Courses" href="/ogbrown-courses-demo/">All-->
<!--                Courses</a></li>-->
<!--              <li class="menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-some2"><a title="Some Course 2" href="/ogbrown-courses-demo/course/some2/">Some Course 2</a>-->
<!--              </li>-->
<!--              <li class="menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-some1"><a title="Some Course 1" href="/ogbrown-courses-demo/course/some1/">Some Course 1</a>-->
<!--              </li>-->
<!--              <li class="menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-some3"><a title="Some Course 3" href="/ogbrown-courses-demo/course/some3/">Some Course 3</a>-->
<!--              </li>-->
<!--              <li class="menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-anot4"><a title="Another Course 4" href="/ogbrown-courses-demo/course/anot4/">Another Course 4</a>-->
<!--              </li>-->
<!--            </ul></li>-->
<!--          <li class="menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-contact-us"><a title="Contact Info" href="/ogbrown-courses-demo/contact-us/">Contact Info</a>-->
<!--          </li>-->
<!--          <li class="menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-about-us"><a title="About" href="/ogbrown-courses-demo/about-us/">About</a>-->
<!--          </li>-->
<!--          <li class="menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-terms-and-privacy-policy"><a title="Terms of Use" href="/ogbrown-courses-demo/terms-and-privacy-policy/">Terms of Use</a>-->
<!--          </li>-->
<!--          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://github.com/ogbrown/ogbrown-courses-demo/"><span class="menu-item-github">GitHub Project</span></a></li>-->
<!--        </ul>-->
<!--      </div>-->
    </div>
    <!-- .container -->
  </div>
  <!-- .navbar -->
</nav>
<!-- #site-navigation -->
