<li id="menu-item-1" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-91 dropdown"><a title="Courses" href="#" data-target="#" data-toggle="dropdown" class="dropdown-toggle">Courses <span class="caret"></span></a>
  <ul role="menu" class=" dropdown-menu">
    <li id="menu-item-92" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-92"><a title="All Courses" href="/ogbrown-courses-demo/">All
      Courses</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-some2"><a title="Some Course 2" href="/ogbrown-courses-demo/course/some2/">Some Course 2</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-some1"><a title="Some Course 1" href="/ogbrown-courses-demo/course/some1/">Some Course 1</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-some3"><a title="Some Course 3" href="/ogbrown-courses-demo/course/some3/">Some Course 3</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-anot4"><a title="Another Course 4" href="/ogbrown-courses-demo/course/anot4/">Another Course 4</a>
    </li>
  </ul></li>
